.gauge-container {
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  text-align: center;
}

.circle-text {
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: 50%; /* Ajoutez cette ligne */
  left: 50%; /* Ajoutez cette ligne */
  transform: translate(-50%, -50%);
  color: white;
}

.circle-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* Style pour le cercle noir */
.circle-overlay > .MuiCircularProgress-root:nth-child(1) {
  position: absolute;
}

/* Style pour le cercle blanc */
.circle-overlay > .MuiCircularProgress-root:nth-child(2) {
  position: absolute;
}


