.my-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0.5rem;
  align-content: center;
  border: solid white 2px;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 2rem;

  @media (min-width: 481px) and (max-width: 821px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.my-team-member {
  height: 250px;
  width: 250px;
  border: solid white 1px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: 481px) and (max-width: 821px) {
    height: 200px;
    width: 200px;
  }

  @media (max-width: 480px) {
    height: 150px;
    width: 150px;
  }
}

.delete-icon-container {
  position: absolute;
  top: 10px;
  right: 10px; 
}

.my-team-member-img {
  width: 200px;
  height: 200px;

  @media (min-width: 481px) and (max-width: 821px) {
    height: 150px;
    width: 150px;
  }

  @media (max-width: 480px) {
    height: 110px;
    width: 110px;
  }
}
