.my-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0.5rem;
  align-content: center;
  max-width: 60%;
  border: solid white 2px;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.my-team-member {
  width: 250px;
  height: 250px;
  border: solid white 1px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.delete-icon-container {
  position: absolute;
  top: 10px;
  right: 10px; 
}

.my-team-member-img {
  width: 200px;
  height: 200px;
}
